# Created by .ignore support plugin (hsz.mobi)
.idea
npm-debug.log
node_modules
jspm_packages
dist
prod
src/assets/vendor/
src/assets/styles/main.css
src/assets/styles/main.css.map
src/app/config/config.js
app/*
src/app/app*.js
src/app/app.*.js.map
src/assets/images-optim/*