$grey: #cccccc;
$blue: #0000ff;
$black: #000000;
$white:  #ffffff;
$yellow: #ffff00;
$background: #d6d6d6;
$dark: #ea5385;
$alt_background: #f9f1da;
$text: darken(#999999, 10%);

$baseLineHeight: 2å;
$baseFontSize: 62.5%;

$media_breakpoint_wide: 1366px;
$media_breakpoint_tablet: 979px;
$media_breakpoint_mobile: 767px;

$font_family_one: unquote("sans-serif");
$font_family_two: unquote("serif");